/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  #scorecontainer {
    color: white;
    font-family: sans-serif;
    display: flex;
    gap: 2rem;
    font-weight: bold;
  }

  #maincontainer {
    width: 100%;
    height: 100vh;
    font-size: 1.2rem;
    gap: 2rem;
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(b\ g);
    background-size: cover;
    background-repeat: no-repeat;
  }


  #buttoncontainer {
    display: flex;
  }

  .mainbuttons {
    width: 15rem;
    height: 15rem;
    background-color: rgba(196, 239, 252, 0.5);
    border: solid 0.2rem white;
    border-radius: 1rem;
  }

  #restart {
    color: rgb(178, 165, 255);
    font-family: sans-serif;
    background-color: rgba(196, 239, 252, 0.8);
    border: solid 0.15rem white;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
  }

  #paper {
    margin: 0 2rem 0 2rem;
  }

  #hydro, #dendro, #pyro {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
  }

  #hydro {
    color: rgb(65, 185, 255);
  }

  #dendro {
    color: rgb(117, 158, 123);
  }

  #pyro {
    color: rgb(156, 86, 86);
  }
  